In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.stats import (t, f, norm)

In [6]:
data = pd.read_csv("../data/nhanes_2015_2016.csv", usecols = ["SMQ020", "RIAGENDR", "DMDCITZN"])

In [8]:
data

      SMQ020  RIAGENDR  DMDCITZN
0          1         1       1.0
1          1         1       2.0
2          1         1       1.0
3          2         2       1.0
4          2         2       1.0
...      ...       ...       ...
5730       1         2       1.0
5731       2         1       1.0
5732       1         2       1.0
5733       1         1       2.0
5734       2         2       1.0

[5735 rows x 3 columns]